@page "/"

<PageTitle>Home</PageTitle>

<html>
  <head>
    <style>
      body {
        color: black;
      }
    </style>
  </head>
  <body>
    <h1 id="b-tree-and-b-tree-visualization">
      B-Tree and B+Tree-Visualization
    </h1>
    <p>
      Welcome to the B-Tree and B+Tree Visualization project! This repository
      hosts a collaborative effort to implement visually engaging and
      interactive visualizations of B-Tree and B+Tree structures. The goal is to
      provide a comprehensive learning resource for understanding these
      fundamental data structures. This project is implemented as the CS4488
      Capstone Project at Idaho State University.
    </p>
    <h1 id="project-overview">Project Overview</h1>
    <h2 id="what-are-b-trees-and-b-trees-">What are B-Trees and B+Trees?</h2>
    <p>
      B-Trees and B+Trees are self-balancing tree data structures widely used in
      databases and file systems for efficient storage and retrieval of data.
      This project aims to create intuitive visualizations that showcase the
      dynamic behavior of these trees during various operations such as
      insertion, deletion, and search.
    </p>
    <h2 id="features">Features</h2>
    <ul>
      <li>Visualize B-Tree and B+Tree operations</li>
      <li>Allow user selection of the degree of the tree for B+Tree</li>
      <li>Differentiate between non-leaf and leaf nodes</li>
      <li>Animated representation of changes during tree operations</li>
    </ul>
    <h2 id="project-structure">Project Structure</h2>
    <ul>
      <li>
        /src: Contains the source code for the B-Tree and B+Tree visualizations.
      </li>
      <li>
        /docs: Documentation files, including user guides and developer
        documentation.
      </li>
      <li>
        /tests: Unit tests for ensuring the reliability of the implementations.
      </li>
    </ul>
    <h2 id="documentation">Documentation</h2>
    <p>
      Here is where the project management and other documentation documents can
      be linked.
    </p>
    <h2 id="diagrams">Diagrams</h2>
    <ul>
      <li>Gantt Chart</li>
      <li>Task Breakdown Diagram</li>
      <li>Kanban Board</li>
      <li>Use Case Diagram</li>
      <li>Class Diagram</li>
      <li>Sequence Diagram</li>
      <li>Component Diagram</li>
      <li>Entity-Relationship Diagram</li>
      <li>Communication Diagram</li>
      <li>Deployment Diagram</li>
      <li>Class Diagram (detailed)</li>
      <li>Activity Diagram</li>
    </ul>
    <h2 id="license">License</h2>
    <p>This project is licensed under the MIT License.</p>
    <h2 id="contributors">Contributors</h2>
    <ul>
      <li>Andreas Kramer</li>
      <li>Tristan Anderson</li>
      <li>Dakota DeAnda</li>
      <li>Emily Elzinga</li>
      <li>Alice Giola</li>
      <li>Zackary Beck</li>
    </ul>
  </body>
</html>
